body 
{
    background-color:purple;
    color:White;
    font-weight:bold;
    font-size:18px;
}

#QandAPanel {
    position : absolute;
    bottom :0;
}

#QuestionPanel {
    position :relative;
    width :100%;
    height :15%;
}

#AnswersPanel {
    background-color : green;    
    bottom : 0px;
    left : 0px;
    display : inline;
    font-size: 12px;
    overflow: auto;
    height: 30%;
    width: 60%;  
    position :relative;  
}

#QandAPanel #AnswersPanel Button {
    width :150px;
    height :50px;
    position :relative;
}



.HelpPanel {
    position :absolute;
    right :0;
    top :0;
    width :30%;
    height :30%
}

.footer
{
    background-color:Black;
    color:White;
    height:25px;
    width:auto;
    text-align:center;
    bottom: 0;
}
